<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9PDB2sEVMFUQYcvyGg4uGsQ5KftI9bXI</string>
	<key>GCM_SENDER_ID</key>
	<string>20759600437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yildizaydd.TO-DO</string>
	<key>PROJECT_ID</key>
	<string>to-do-5160a</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-5160a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20759600437:ios:1080295989100dda70c07c</string>
</dict>
</plist>